/* IMPORTS */

/* Fonts: */
@import url(./assets/fonts/fonts.css);


/* GlOBAL */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 16px;
    background-color: #FBFBFB;
    transition: background-color 225ms ease;
}

span {
    display: block;
}

/* FLEX-BOX */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-space-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-none {
    display: none !important;
}

/* GENERIC Styling */
.bg-highlight {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 16px;
}

.font-20 {
    font-size: 20px;
    font-weight: bold;
}

.font-24 {
    font-size: 24px;
    font-weight: bold;
}

.word-break {
    word-break: break-all;
}

/* Padding */
.padding-20 {
    padding: 20px;
}

/*Buttons*/
.loading-btn {
    position: fixed;
    bottom: 24px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: white;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: border 225ms ease;
}

.loading-btn:hover {
    border: 3px solid #FECA1B;
}

/* LOADING-SECTION */
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 150px);
}

.loading-img {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* MAIN-PAGE */
.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemonCard {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 250px;
    width: 280px;
    color: white;
    padding: 16px;
    border-radius: 40px;
    margin: 16px;
    cursor: pointer;
    transition: 225ms ease;
}

.pokemonCard:hover {
    transform: scale(1.1);
    transition: 225ms ease;
}

.pokemonCard>span {
    text-align: end;
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
}

.pokemonCard .flex-column {
    position: absolute;
    bottom: 16px;
    right: 20px;
}

#name {
    font-size: 20px;
}

.mainsite-image {
    height: 150px;
    /* width: fit-content; */
}


.states-titles>span,
.states-values>span,
.states-chartes>progress {
    padding: 2.5px 0 2.5px 0;
}

/* POKEMON DETAIL-CARD */
.popUp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.icon {
    height: 40px;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.top-card {
    position: relative;
    height: 400px;
    width: 500px;
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.card-heading {
    font-size: 32px;
    font-weight: bold;
}


.card-image {
    height: 180px;
}

.bottom-card {
    position: relative;
    height: 250px;
    width: 500px;
    background-color: white;
    border-radius: 40px;
    margin-top: -32px;
}

/* Base States */
.states-container {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 16px;
}

.states-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/* SCROLLBAR */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: grey;
}